
html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  font-family: "Nunito Sans", sans-serif;
  background-color: #f2f2f2;
  color: #111517;
}

b{
  font-weight: 600;
}

h3{
  margin: 0;  
  margin-bottom: 16px;
}

p{
  font-weight: 300;
  margin: 0;
}

p:not(:last-child){
  margin-bottom: 8px;
}
